html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*--------------------------------------*            ADDED BY RICHARD
\*--------------------------------------*/
* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

/*  ---- COLORS ---- */
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1f1f1f;
  font-family: "Open Sans"; }

p {
  font-family: "Open Sans";
  font-size: 0.75em;
  line-height: 1.2;
  font-weight: 300; }

h1 {
  font-size: 1.5em;
  font-family: "Open Sans";
  font-weight: 200;
  color: #fbfbfb; }
  h1 span {
    color: #1f1f1f;
    font-weight: 700; }

h2 {
  font-size: 1.5em;
  font-family: "Open Sans";
  font-weight: 200;
  color: #1f1f1f;
  padding-bottom: 20px; }
  h2 span {
    color: #1f1f1f;
    font-weight: 700; }

a {
  font-size: 1em; }

.built
a,
strong {
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease; }

a:hover {
  text-decoration: underline; }

.fa-heart {
  font-size: 12px;
  color: #fc2d23; }

i {
  color: #1f1f1f; }

.toggle-all {
  height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: none;
  border-top: 0.5px solid #c8c8c8;
  border-bottom: 0.5px solid #c8c8c8;
  border-left: 0.5px solid #c8c8c8;
  float: left; }
  .toggle-all:hover {
    background-color: #eeeeee; }

.add-todo {
  height: 40px;
  width: 480px;
  padding: 0;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#addTodoTextInput {
  width: 400px;
  height: 40px;
  margin: 0;
  padding: 14px;
  border: 0.5px solid #c8c8c8;
  font-size: 1.2em;
  font-family: "Open Sans";
  font-weight: 400;
  color: #dc6817;
  float: left;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border-radius: 0; }

#add-button {
  height: 40px;
  min-width: 42px;
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: none;
  border-top: 0.5px solid #c8c8c8;
  border-bottom: 0.5px solid #c8c8c8;
  border-right: 0.5px solid #c8c8c8;
  float: right;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  #add-button:hover {
    background-color: #eeeeee; }

.todos {
  margin: 60px 0; }

li {
  height: 40px;
  width: 480px;
  padding-left: 50px;
  background-color: white;
  border: 0.5px solid #c8c8c8;
  font-size: 1.2em;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 6px auto;
  line-height: 40px;
  text-align: left;
  clear: both; }

.editButton {
  height: 39px;
  width: 40px;
  background-color: rgba(251, 251, 251, 0);
  border: none;
  border-left: 0.5px solid #c8c8c8;
  float: right;
  z-index: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .editButton:hover {
    background-color: #eeeeee; }

.deleteButton {
  height: 39px;
  width: 40px;
  background-color: rgba(251, 251, 251, 0);
  border: none;
  border-left: 0.5px solid #c8c8c8;
  float: right;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .deleteButton:hover {
    background-color: #eeeeee; }

#changeTodoPositionInput {
  width: 40px; }

input:focus,
input[type]:focus,
textarea:focus {
  outline: none;
  border: 1px solid #dc6817 !important; }

input:hover::-webkit-input-placeholder {
  color: #dc6817;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

input:hover:-moz-placeholder {
  color: #dc6817;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

input:hover::-moz-placeholder {
  color: #dc6817;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

input:hover:-ms-input-placeholder {
  color: #dc6817;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

body {
  background-color: #f3f5f6; }

header {
  height: 56px;
  width: 100%;
  background: #5995f0;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 2px 6px -4px #999;
  position: fixed;
  top: 0;
  z-index: 10; }

nav {
  max-width: 920px;
  height: 56px;
  margin: 0 auto;
  padding: 0 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }

main {
  min-height: 100vh;
  margin-bottom: -62px;
  background-color: #f3f5f6; }

main:after {
  display: block; }

.container {
  max-width: 920px;
  height: 100vh;
  margin: 60px auto;
  padding: 50px 0;
  text-align: center; }

#todo-section {
  margin: 0 auto;
  height: auto;
  width: 600px;
  padding: 30px 0;
  background-color: white;
  border: 1px solid #ddd;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.3), 0 6px 16px 0 rgba(99, 99, 99, 0.3); }

#edit-section {
  margin-top: 50px; }

footer,
main:after {
  height: 32px; }

footer {
  background: #1f2022;
  display: table;
  width: 100%;
  text-align: center; }

.built {
  display: table-cell;
  vertical-align: middle;
  color: #c8c8c8; }

/* ----- MEDIA QUERIES ------ */
/* -- BREAK 1 -- */
@media only screen and (max-width: 600px) {
  .container {
    margin: 0px; }
  #todo-section {
    width: 100%;
    height: auto;
    padding: 74px 20px 120px;
    background-color: white; }
  h2 {
    display: none; } }
/*# sourceMappingURL=style.css.map */