/* ----- MEDIA QUERIES ------ */


/* -- BREAK 1 -- */

@media only screen and (max-width: 706px) {


.container  {
    margin: 50px auto;
    padding: 0;
}
}

/* -- BREAK 2 -- */

@media only screen and (max-width: 600px) {


    #todo-section {
        width: 100%;
        height: auto;
        padding: 30px 0;
        background-color: white;
    }

    h2 {
        display: none;
    }
}