// FONTAWESOME STYLES
i {
    color: $black;
}

.toggle-all {
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    background-color: inherit;
    border: 0.5px solid $close;
    float: left;
}

.add-todo {
    height: 40px;
    padding: 0;
    margin: 10px 0;
}

#addTodoTextInput {
    width: 518px;
    height: 40px;
    margin: 0;
    padding: 14px;
    font-size: 1.2em;
    font-family: "Open Sans";
    font-weight: 400;
    color: $brand;
    float: left;
}

#add-button {
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    background-color: inherit;
    border: 0.5px solid $close;
    float: right;
}

li {
    height: 40px;
    width: 100%;
    padding-left: 50px;
    background-color: white;
    border: 0.5px solid $close;
    font-size: 1.2em;
    font-family: "Open Sans";
    font-weight: 400;
    margin: 6px 0;
    line-height: 40px;
    text-align: left;
    clear: both;
}

.deleteButton {
    height: 39px;
    width: 40px;
    background-color: rgba( $white, 0);
    border: none;
    border-left: 0.5px solid $close;
    float: right;
}



input:focus {
    outline: none;
    border: 2px solid $brand;
}